* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em 1em;
	min-height: 100vh;
	background-color: $pale-blue;
	background-image: url('../images/pattern-background-mobile.svg');
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 1.4rem;
	font-family: 'Red Hat Display', sans-serif;
}

.card {
	width: 100%;
	max-width: 326px;
	max-height: 712px;
	background-color: $very-pale-blue;
	border-radius: 18px;
	overflow: hidden;

	&__img {
		width: 100%;
	}

	&__content {
		padding: 2em 2.4em;
	}

	&__title {
		color: $dark-blue;
		text-align: center;
		font-weight: 900;
	}

	&__text {
		margin: 1em 0 1.4em;
		color: $desaturated-blue;
		font-size: 1.2rem;
		line-height: 1.8rem;
		font-weight: 300;
		text-align: center;
	}

	&__box {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		padding: 1em;
		background-color: hsl(225deg 100% 94% / 20%);
		border-radius: 8px;

		&-icon {
			transform: translate(3px, 1px);
			width: 36px;
		}

		&-span {
			margin-right: 1em;
			font-size: 1.2rem;
			transform: translateX(-0.4rem);
		}

		&-author {
			display: block;
			margin-bottom: 0.2em;
			color: $dark-blue;
			font-weight: 900;
		}

		&-price {
			color: $desaturated-blue;
		}
	}

	&__link {
		color: $bright-blue;
		font-size: 1rem;
		font-weight: 900;
		transform: translateX(1.4rem);
		transition: color 0.3s, text-decoration 0.3s;

		&:hover {
			color: $desaturated-blue;
			text-decoration: none;
		}
	}

	&__btn {
		display: block;
		margin: 2.6em 0 1em;
		padding: 1.2em;
		width: 100%;
		color: $very-pale-blue;
		background-color: $bright-blue;
		border: none;
		border-radius: 10px;
		font-weight: 900;
		font-size: 1rem;
		transition: background-color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $desaturated-blue;
		}

		&--cancel {
			display: block;
			margin: 0 auto;
			padding: 1em;
			color: $desaturated-blue;
			background-color: transparent;
			border: none;
			font-size: 1rem;
			font-weight: 900;
			transition: color 0.3s;
			cursor: pointer;

			&:hover {
				color: $dark-blue;
			}
		}
	}
}

// .attribution {
// 	font-size: 11px;
// 	text-align: center;
// }
// .attribution a {
// 	color: hsl(228, 45%, 44%);
// }

@media (min-width: 576px) {
	body{
		background-image: url('../images/pattern-background-desktop.svg');
	}
}
